@model Collab

<h2>Person Details</h2>

<table>
    <tr>
        <th>Id</th>
        <td>@Model.contentId</td>
    </tr>
    <tr>
        <th>Recommendation 1</th>
        <td>@Model.Recommendation1</td>
    </tr>
    <tr>
        <th>Recommendation 2</th>
        <td>@Model.Recommendation2</td>
    </tr>
    <tr>
        <th>Recommendation 3</th>
        <td>@Model.Recommendation3</td>
    </tr>
    <tr>
        <th>Recommendation 4</th>
        <td>@Model.Recommendation4</td>
    </tr>
    <tr>
        <th>Recommendation 5</th>
        <td>@Model.Recommendation5</td>
    </tr>
</table>
